.App {
  text-align: center;
  background-color: lightgray;
  height: 350px;
  width: 600px;
  padding-top: 50px;

  .app-title {
    margin-bottom: 10px;
  }

  .component1 {
    background-color: lightgreen;
    height: 100px;
    width: 500px;
    margin: auto;
  }
  .component2 {
    background-color: lightblue;
    height: 100px;
    width: 500px;
    margin: auto;
  }
  .component3 {
    background-color: lightyellow;
    height: 100px;
    width: 500px;
    margin: auto;
  }
}
