.App {
  text-align: center;
  background-color: lightgray;
  height: 700px;
  width: 600px;
  padding-top: 20px;

  .wrapper {
    background-color: gray;
    height: 650px;
    width: 550px;
    margin: auto;
    padding-top: 20px;

    .wrapper-title {
      margin-bottom: 10px;
    }
  
    .component1 {
      background-color: lightgreen;
      height: 200px;
      width: 500px;
      margin: auto;
    }
    .component2 {
      background-color: lightblue;
      height: 200px;
      width: 500px;
      margin: auto;
    }
    .component3 {
      background-color: lightyellow;
      height: 200px;
      width: 500px;
      margin: auto;
    }  
  }
}
